@define-mixin backImage
  $image,
  $height: 100vh,
  $grstart: rgba(0,0,0,.2),
  $grend: rgba(0,0,0,.5),
  $bgPos: center center {
  background: linear-gradient( to bottom, $grstart, $grend), url($image);
  background-repeat: no-repeat;
  background-position: $bgPos;
  background-size: cover;
  height: 100vh;
  max-height: $height;
}
