$color-background-guarantee: color($green shade(25%));

#guarantee {
  color: $color-background;
  font-size: 2rem;
  background-color: $color-background-guarantee;

  .imageheader {
    @mixin backImage '../images/backgrounds/cycling.jpg', 60vh, transparent, $color-background-guarantee, bottom, center;
  }

  .headline {
    color: color($yellow tint(15%));
  }

  a {
    color: color($green tint(30%));
  }

}
