.footer {
  background-color: color($yellow shade(80%));
  color: $color-background;
  padding: 0 0 5em 0;
  line-height: 100%;
  text-align: center;
  display: flex;
  align-items: flex-end;

  @mixin backImage '../images/backgrounds/discthrower.jpg', 800px, transparent, color($yellow shade(80%));

  .nav {
    margin-top: 0;
  }
  .legal {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 110%;
    margin-top: 3rem;
  }
}
