.nav {
  margin-top: 1em;
  display: flex;

  .nav-elements {
    @media $small {
      display: flex;
      justify-content: space-between;
      align-items:flex-start;
    }


    .branding {
      margin: 0 auto;
      max-width: 180px;
      @media $small {
        width: 30%;
        margin: 0;
      }
    } /* branding */


    .navbar {
      margin: 0;
      padding: 0;
      line-height: 100%;
      list-style-type: none;
      @media $small {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
      }

      a {
        font-weight: $font-weight-bold;
        color: $color-background;
        text-decoration: none;
        display: block;
        padding: .3em 15px;
        transition: 1s ease-out;
      }

      a:after {
      content: '';
      display: block;
      height: 5px;
      margin-top: 2px;
      width: 0;
      transition: width .3s ease-out, background-color .3s ease-out;
      }

      a:hover, a:focus {
        color: $yellow;
        border-bottom: none;
      }

      a:hover:after, a:focus:after {
      width: 100%;
      background: $yellow;
      }


    } /* navbar */
  } /* nav-content */
}
