.nav {
  margin-top: 1.75rem;

  .nav-elements {
    display: flex;

    .branding {
      max-width: 180px;
      width: 30%;
    }

    .navbar {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      align-content: flex-start;
      flex-wrap: wrap;
      line-height: 150%;
      list-style-type: none;
      width: 70%;
    }

    a {
      font-weight: $font-weight-bold;
      color: $color-background;
      text-decoration: none;
      padding: 0 1rem;
    }

    a:hover {
      color: $yellow;
    }
  }
}
