.nav {
  margin-top: 1.75rem;

  .nav-elements {
    @media $small {
      display: flex;
    }

    .branding {
      max-width: 180px;
      margin: 0 auto;
      @media $small {
        width: 30%;
        margin: 0;
      }
    }

    .navbar {
      margin: 0;
      padding: 0;
      line-height: 150%;
      list-style-type: none;
      width: 100%;
      @media $small {
        display: flex;
        justify-content: flex-end;
        align-content: flex-start;
        flex-wrap: wrap;
      }
    }

    a {
      font-weight: $font-weight-bold;
      color: $color-background;
      text-decoration: none;
      padding: 0 1rem;
    }

    a:hover {
      color: $yellow;
    }
  }
}
