.section {
  min-height: 40vh;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3rem;
  font-size: 2rem;

  .container {
    width: 80%;
    max-width: 1200px;
  }

  .headline {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4rem;
    margin-top: 3rem;
    line-height: 110%;
  }

  em, a {
    font-size: 2.8rem;
    vertical-align: -6%;
  }

}
