#guarantee {
  padding-top: 0;

  .imageheader {
    @mixin backImage '../images/cycling.jpg', 500px;
  }

  color: white;
  font-size: 2rem;
  background: color($green shade(10%));

  .headline {
    color: color($yellow tint(15%));
    color: $white;
  }

  a {
    color: color($green tint(30%));
  }
}
