#people {
  padding-top: 0;
  background: color($yellow tint(20%));
  background: linear-gradient(to bottom,
    color($yellow shade(5%)),
    color($yellow tint(20%)));

  .imageheader {
    @mixin backImage '../images/backgrounds/soccer.jpg', 500px, transparent, transparent;
  }

  .headline {
    color: white;
    padding-bottom: 2rem;
  }

  a {
    color: color($green shade(10%));
  }

  .people-cards {

    @media $small {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .person-card {
      background: color(white alpha(20%));
      box-shadow: 5px 5px 3px color($yellow alpha(50%));
      border-radius: 20px;
      margin-bottom: 5%;
      max-width: 400px;
      transition: all .2s ease-in;
      transform: scale(.9);
      opacity: .8;

      &:hover, &:focus {
        transform: scale(1.05);
        opacity: 1;
      }

      @media $small {
        width: 45%;
      }

      @media $large {
        width: 30%;
      }

      .card-info {
        background: color($orange alpha(90%));
        padding: 3% 7% ;

        .card-name {
          font-size: 2rem;
          line-height: 110%;
          color: $red;
        }

        .card-title {
          color: color(white alpha(60%));
          font-size: 1.4rem;
          line-height: 100%;
        }

      }

      .card-text {
        font-size: 1.6rem;
        font-weight: $font-weight-normal;
        line-height: 130%;
        margin: 0;
        padding: 7%;

        em {
          color: color($orange shade(5%));
          font-size: 2.2rem;
        }
      }
    }
  }


}
