#products {
  padding-bottom: 0;
  padding-top: 0;

  .imageheader {
    @mixin backImage '../images/backgrounds/swimming.jpg', 300px, transparent, transparent;
    background-attachment:fixed;
  }

  .product-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;

    .product-item {
      position: relative;
      color: white;
      width: 50%;
      overflow: hidden;

      transition: all .4s ease-in-out;
      transform: scale(1);
      opacity: .8;

      .product-name {
        background: $red;
        color: $yellow;
        font-weight: $font-weight-heavy;
        font-size: 1rem;
        text-align: center;
        display: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
      }

      &:hover, &:focus {
        opacity: 1;
        z-index: 1;
        transform: scale(1.3);

        .product-name {
          display: block;
          animation: slideInUp .5s;
        }
      }

      @media $small {
        width: 33.3333333334%;
      }

      @media $medium {
        width: 25%;
      }

      @media $large {
        width: 16.666667%;
      }
    }

  }
}
