@import url(https://fonts.googleapis.com/css?family=Raleway:300,600,700);
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    font-family: Raleway,Helvetica,Arial,sans-serif;
    font-size: 1.8rem;
    line-height: 160%;
    font-weight: 300;
}
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: Raleway,Helvetica,Arial,sans-serif;
    color: #BFC406;
}
img {
    display: block;
    max-width: 100%;
}
a {
    font-weight: 700;
    color: #D14348;
}
a:hover, a:focus {
    text-decoration: none;
}
em {
    font-weight: 700;
    font-size: 140%;
    color: #F3D350;
    font-style: normal;
}

.header {
    background: -webkit-linear-gradient( top, rgba(0,0,0,.2), rgba(0,0,0,.5)), url('../images/backgrounds/running.jpg');
    background: linear-gradient( to bottom, rgba(0,0,0,.2), rgba(0,0,0,.5)), url('../images/backgrounds/running.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    max-height: 500px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
}

.header .tagline {
    display: none;
}

@media screen and (min-width: 600px) {
    .header {
        background: -webkit-linear-gradient( top, rgba(0,0,0,.2), rgba(0,0,0,.5)), url('../images/backgrounds/running.jpg');
        background: linear-gradient( to bottom, rgba(0,0,0,.2), rgba(0,0,0,.5)), url('../images/backgrounds/running.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100vh;
        max-height: 800px;
    }
}

@media screen and (min-width: 600px) {
    .header .tagline {
        display: block;
        color: white;
        max-width: 40em;
        line-height: 140%;
        font-size: 2.5rem;
    }
    .header .tagline h1 {
        display: none;
    }
    .header .tagline em {
        font-size: 140%;
        color: #F3D350;
        font-style: normal;
    }
}
.nav {
    margin-top: 1.75rem;
    /* navelements */
}
.nav .nav-elements {
    /* navbar */
}
.nav .nav-elements .branding {
    max-width: 180px;
    margin: 0 auto;
}
.nav .nav-elements .navbar {
    margin: 0;
    padding: 0;
    line-height: 120%;
    list-style-type: none;
    margin-top: 2rem;
    width: 100%;
}
.nav .nav-elements .navbar a {
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 0 1rem;
    -webkit-transition: 1s ease-out;
    transition: 1s ease-out;
}
.nav .nav-elements .navbar a:after {
    content: '';
    display: block;
    height: 5px;
    width: 0;
    margin: 0 .5rem;
    -webkit-transition: width .3s ease-out, background-color .3s ease-out;
    transition: width .3s ease-out, background-color .3s ease-out;
}
.nav .nav-elements .navbar a:hover {
    color: #F3D350;
}
.nav .nav-elements .navbar a:hover:after {
    width: 100%;
    background: #F3D350;
}
@media screen and (min-width: 600px) {
    .nav .nav-elements {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
@media screen and (min-width: 600px) {
    .nav .nav-elements .branding {
        width: 30%;
        margin: 0;
    }
}
@media screen and (min-width: 600px) {
    .nav .nav-elements .navbar {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
                align-content: flex-start;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
}
/* nav */
.footer {
    background-color: rgb(49, 42, 16);
    color: white;
    padding: 0 0 5em 0;
    line-height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    background: -webkit-linear-gradient( top, transparent, rgb(49, 42, 16)), url('../images/backgrounds/discthrower.jpg');
    background: linear-gradient( to bottom, transparent, rgb(49, 42, 16)), url('../images/backgrounds/discthrower.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    max-height: 800px;
}
.footer .nav {
    margin-top: 0;
}
.footer .legal {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 110%;
    margin-top: 3rem;
}
.section {
    min-height: 40vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 160%;
}
.section .headline {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4rem;
    margin-top: 3rem;
    line-height: 110%;
}
.section em, .section a {
    font-size: 140%;
    vertical-align: -6%;
}
@media screen and (min-width: 600px) {
    .section {
        font-size: 2rem;
    }
}

#history {
    background-color: #F3D350;
}

#history .headline {
    color: #D14348;
}

#history em {
    color: rgb(230, 159, 42);
}

@media screen and (min-width: 1200px) {
    #history {
        background-image: url('../images/employees/HenryTwill_outline.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 30% auto;
        min-height: 100vh;
    }
    #history .text-content {
        width: 70%;
    }
}
#products {
    /*.product-list*/
}
#products .imageheader {
    background: -webkit-linear-gradient( top, transparent, transparent), url('../images/backgrounds/swimming.jpg');
    background: linear-gradient( to bottom, transparent, transparent), url('../images/backgrounds/swimming.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    max-height: auto;
}
#products .product-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    /*.product-item*/
}
#products .product-list .product-item {
    position: relative;
    color: white;
    overflow: hidden;
    width: calc(100%/2);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: .8;
}
#products .product-list .product-item:hover, #products .product-list .product-item:focus {
    opacity: 1;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    z-index: 1;
}
#products .product-list .product-item:hover .product-name, #products .product-list .product-item:focus .product-name {
    display: block;
    -webkit-animation: slideInUp 1s;
            animation: slideInUp 1s;
}
@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}
#products .product-list .product-item .product-name {
    background: #D14348;
    color: #F3D350;
    font-weight: 700;
    font-size: 80%;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
}
/*.product-name*/
#products .product-list .product-item:hover .product-name, #products .product-list .product-item:focus .product-name {
    display: block;
}
@media screen and (min-width: 600px) {
    #products .product-list .product-item {
        width: calc(100%/3);
    }
}
@media screen and (min-width: 900px) {
    #products .product-list .product-item {
        width: calc(100%/4);
    }
}
@media screen and (min-width: 1200px) {
    #products .product-list .product-item {
        width: calc(100%/6);
    }
}
/* products*/
#guarantee {
    color: white;
    font-size: 2rem;
    background-color: rgb(143, 147, 5);
}
#guarantee .imageheader {
    background: -webkit-linear-gradient( top, transparent, rgb(143, 147, 5)), url('../images/backgrounds/cycling.jpg');
    background: linear-gradient( to bottom, transparent, rgb(143, 147, 5)), url('../images/backgrounds/cycling.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    max-height: 60vh;
}
#guarantee .headline {
    color: rgb(245, 218, 106);
}
#guarantee a {
    color: rgb(210, 214, 81);
}
#people {
    background-color: rgb(231, 200, 76);
    /*.people-cards*/
}
#people .imageheader {
    background: -webkit-linear-gradient( top, transparent, rgb(231, 200, 76)), url('../images/backgrounds/soccer.jpg');
    background: linear-gradient( to bottom, transparent, rgb(231, 200, 76)), url('../images/backgrounds/soccer.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
    max-height: 40vh;
}
#people .headline {
    color: white;
    padding-bottom: 2rem;
}
#people .people-cards {
    /*.person-card*/
}
#people .people-cards .person-card {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 3px rgba(243, 211, 80, 0.5);
    border-radius: 20px;
    margin-bottom: 3rem;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
            transform: scale(.9);
    opacity: .8;
    /*.card-text*/
}
#people .people-cards .person-card:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 1;
}
#people .people-cards .person-card .card-info {
    background: rgba(255, 177, 47, 0.9);
    padding: 3% 7%;
}
#people .people-cards .person-card .card-info .card-name {
    font-size: 2rem;
    line-height: 110%;
    color: #D14348;
}
#people .people-cards .person-card .card-info .card-title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.4rem;
    line-height: 100%;
}
/*.card-info*/
#people .people-cards .person-card .card-text {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 130%;
    margin: 0;
    padding: 7%;
}
#people .people-cards .person-card .card-text em {
    color: rgb(242, 168, 45);
    font-size: 2.2rem;
}
@media screen and (min-width: 600px) {
    #people .people-cards {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}
@media screen and (min-width: 600px) {
    #people .people-cards .person-card {
        width: calc(100%/2 - 1.5rem);
    }
}
@media screen and (min-width: 1200px) {
    #people .people-cards .person-card {
        width: calc(100%/3 - 1.5rem);
    }
}
/*.people*/
